<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
  </head>
  <body>
    <h1>Student List</h1>
    <ul>
      <% students.forEach(student => {%>
      <li>
        <%= student.name %> - <%= student.class_id %> classes - Feedback: <%=
        student.feedback %>
        <form
          method="POST"
          action="/students/<%= student._id %>?_method=DELETE"
        >
          <button type="submit">Delete</button>
        </form>
        <a href="/students/<%= student._id %>/edit">Edit</a>
      </li>
      <% }); %>
    </ul>
    <h2>Student Feedback</h2>
    <form method="POST" action="/students">
      <input type="text" name="name" placeholder="Name" required />
      <input type="number" name="class_id" placeholder="class_id" required />
      
      <textarea name="feedback" placeholder="Feedback" cols="30" rows="10" required ></textarea>
      <button type="submit">Add FB of Student</button>
    </form>
  </body>
</html>